
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <h2 class="about-h">Undergraduate and Graduate Courseware in Current Semester</h2>

    <ul class="list-unstyled">
        <li><a href="#">BIL551 - Advanced Database Management Systems</a></li>
        <li><a href="#">BIL551 - Advanced Database Management Systems</a></li>
        <li><a href="#">BIL551 - Advanced Database Management Systems</a></li>
        <li><a href="#">BIL551 - Advanced Database Management Systems</a></li>
        <li><a href="#">BIL551 - Advanced Database Management Systems</a></li>
        <li><a href="#">BIL551 - Advanced Database Management Systems</a></li>
        <li><a href="#">BIL551 - Advanced Database Management Systems</a></li>
        <li><a href="#">BIL551 - Advanced Database Management Systems</a></li>
        <li><a href="#">BIL551 - Advanced Database Management Systems</a></li>
        <li><a href="#">BIL551 - Advanced Database Management Systems</a></li>
        <li><a href="#">BIL551 - Advanced Database Management Systems</a></li>
        <li><a href="#">BIL551 - Advanced Database Management Systems</a></li>
    </ul>

</div>


