
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container content" style="margin-bottom:20px">


    <div class="row people" style="margin-top:20px">

        <div class="col-lg-12" style="padding:20px">
            <h3 class="about-h">About Department</h3>

            <p>With recent advances in industry and technology, there is an ever increasing demand for expert technical staff on computer technologies. Eskişehir Technical University (formerly Anadolu University) Computer Engineering Department was founded in 1993 to educate computer engineers equipped with cutting-edge tecnological skills. Our department has a B.Sc. program since 2000-2001 Fall semester. Without making concession of the good quality, both academic staff and the infrastructure are improved in order to keep up with the changes in computer technologies. The aim of the department is to graduate well-educated and conscious computer engineers who obey ethical rules. There are also graduate (Master and Doctorate) programs offered by the department.</p>

            <p>Language of instruction is English in B.Sc. program. Duration of the B.Sc. program is 5 years, one of which is spent at the English preparation school. The department is founded on Iki Eylul campus of Eskişehir Technical University with 5.000 m2 footprint.</p>

        </div>

        <div class="col-lg-12" style="padding:20px">
            <h3 class="about-h">Mission</h3>

            <p>Our mission is to educate computer engineers who are leaders in their professions, who adopt our basic values, produce modern and universal knowledge, use this knowledge for the benefit of society. </p>

        </div>


        <div class="col-lg-12" style="padding:20px">
            <h3 class="about-h">Vision</h3>

            <p>
                Our vision is to be one of the leading Departments of Computer Engineering both in Turkey and abroad with qualified research projects and social contributions realized by our graduates and instructors.
            </p>

        </div>


        <div class="col-lg-12" style="padding:20px">
            <h3 class="about-h">Core Values</h3>

            <ul>
                <li>Scientificity</li>
                <li>People Oriented</li>
                <li>Innovativeness</li>
                <li>Perfectionism</li>
                <li>Determination</li>
                <li>Sensitivity</li>
                <li>Commitment to Work Ethics</li>
                <li>Awareness of Lifelong Learning</li>

            </ul>

        </div>








    </div>








</div>


