
@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row people" style="margin-top:20px">

        <div class="col-lg-12">

            <h2 class="about-h">People</h2>

        </div>



        <div class="col-sm-6 col-md-3 col-lg-2 single-team">
            <div class="inner">
                <div class="team-img">
                    <img src="https://ceng.eskisehir.edu.tr/img/aarslan2.jpg" alt="Member Photo">
                </div>
                <div class="team-content">
                    <h4>Assist. Prof. Dr. Ahmet ARSLAN</h4>
                    <h5>Head of Department</h5>
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-3 col-lg-2 single-team">
            <div class="inner">
                <div class="team-img">
                    <img src="https://ceng.eskisehir.edu.tr/img/aarslan2.jpg" alt="Member Photo">
                </div>
                <div class="team-content">
                    <h4>Assist. Prof. Dr. Ahmet ARSLAN</h4>
                    <h5>Head of Department</h5>
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-3 col-lg-2 single-team">
            <div class="inner">
                <div class="team-img">
                    <img src="https://ceng.eskisehir.edu.tr/img/aarslan2.jpg" alt="Member Photo">
                </div>
                <div class="team-content">
                    <h4>Assist. Prof. Dr. Ahmet ARSLAN</h4>
                    <h5>Head of Department</h5>
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-3 col-lg-2 single-team">
            <div class="inner">
                <div class="team-img">
                    <img src="https://ceng.eskisehir.edu.tr/img/aarslan2.jpg" alt="Member Photo">
                </div>
                <div class="team-content">
                    <h4>Assist. Prof. Dr. Ahmet ARSLAN</h4>
                    <h5>Head of Department</h5>
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-md-3 col-lg-2 single-team">
            <div class="inner">
                <div class="team-img">
                    <img src="https://ceng.eskisehir.edu.tr/img/aarslan2.jpg" alt="Member Photo">
                </div>
                <div class="team-content">
                    <h4>Assist. Prof. Dr. Ahmet ARSLAN</h4>
                    <h5>Head of Department</h5>
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-md-3 col-lg-2 single-team">
            <div class="inner">
                <div class="team-img">
                    <img src="https://ceng.eskisehir.edu.tr/img/aarslan2.jpg" alt="Member Photo">
                </div>
                <div class="team-content">
                    <h4>Assist. Prof. Dr. Ahmet ARSLAN</h4>
                    <h5>Head of Department</h5>
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-md-3 col-lg-2 single-team">
            <div class="inner">
                <div class="team-img">
                    <img src="https://ceng.eskisehir.edu.tr/img/aarslan2.jpg" alt="Member Photo">
                </div>
                <div class="team-content">
                    <h4>Assist. Prof. Dr. Ahmet ARSLAN</h4>
                    <h5>Head of Department</h5>
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-md-3 col-lg-2 single-team">
            <div class="inner">
                <div class="team-img">
                    <img src="https://ceng.eskisehir.edu.tr/img/aarslan2.jpg" alt="Member Photo">
                </div>
                <div class="team-content">
                    <h4>Assist. Prof. Dr. Ahmet ARSLAN</h4>
                    <h5>Head of Department</h5>
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-3 col-lg-2 single-team">
            <div class="inner">
                <div class="team-img">
                    <img src="https://ceng.eskisehir.edu.tr/img/aarslan2.jpg" alt="Member Photo">
                </div>
                <div class="team-content">
                    <h4>Assist. Prof. Dr. Ahmet ARSLAN</h4>
                    <h5>Head of Department</h5>
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-3 col-lg-2 single-team">
            <div class="inner">
                <div class="team-img">
                    <img src="https://ceng.eskisehir.edu.tr/img/aarslan2.jpg" alt="Member Photo">
                </div>
                <div class="team-content">
                    <h4>Assist. Prof. Dr. Ahmet ARSLAN</h4>
                    <h5>Head of Department</h5>
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-md-3 col-lg-2 single-team">
            <div class="inner">
                <div class="team-img">
                    <img src="https://ceng.eskisehir.edu.tr/img/aarslan2.jpg" alt="Member Photo">
                </div>
                <div class="team-content">
                    <h4>Assist. Prof. Dr. Ahmet ARSLAN</h4>
                    <h5>Head of Department</h5>
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-md-3 col-lg-2 single-team">
            <div class="inner">
                <div class="team-img">
                    <img src="https://ceng.eskisehir.edu.tr/img/aarslan2.jpg" alt="Member Photo">
                </div>
                <div class="team-content">
                    <h4>Assist. Prof. Dr. Ahmet ARSLAN</h4>
                    <h5>Head of Department</h5>
                    <div class="team-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>






    </div>

