body {
    padding-top:0;
	background: rgba(211,211,211,0.9);
}

.content {

	background: rgba(255,255,255,0.9);
}

#mogo-header{
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
#mogo-header:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(102,7,8,0.9); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(top, rgba(102,7,8,0.9), rgba(229, 56, 59, 0.9));
    background: -o-linear-gradient(top, rgba(102,7,8,0.9), rgba(229, 56, 59, 0.9));
    background: linear-gradient(to bottom, rgba(102,7,8,0.9), rgba(229, 56, 59, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#mogo-header-inner{
    position: relative;
    z-index: 5;
}
/*=======================main navbar section===========================*/
#top-navbar{
    background: none;
    border: none;
    border-radius: 0;
}
#top-navbar .navbar-brand {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
#top-navbar .navbar-nav > li > a{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#top-navbar .navbar-nav > li > a:hover, #top-navbar .navbar-nav > .active > a, #top-navbar .navbar-nav > .active > a:hover {
    color: #fce38a;
    border-color: #fce38a;
    background: none;
}

#top-navbar .main-nav > li > a {
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding: 15px 5px 5px;
    margin: 0 12px;
    color: #fff;
    text-align: center;
}
#top-navbar .navbar-collapse{
    border-top-width: 0;
    padding-top: 10px;
    margin-top: 5px;
}

.fixed-me{
    transition: all .5s ;
}

.fixed-me{
    background-color:rgba(241, 114, 114, 0.96) !important;
    padding: 0 !important;
    margin-bottom: 5px;
    position: fixed;
    top:0;
    z-index:888;
    width: 100%;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.site-logo{
    display:inline-block;
	height:auto;
	text-align: center;
}
.navbar-me{
    min-height: 70px;
    background-color: transparent;
    top: 0;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.menu-collapsed-button{
    margin: 20px 15px 10px 15px !important;
}


/*======================main slider section style===================*/


#mogo-slider {
    padding: 40px 0 0;
}
#mogo-slider .carousel-inner {
    height: auto;
}
#mogo-slider .carousel-inner > .item {
    text-align: center;
    color: #fff;
}
#mogo-slider .carousel-indicators {
    width: 100%;
    left: 0;
    position: static;
    margin: 0;
    margin-top: 80px;
}
#mogo-slider .carousel-indicators li,
#mogo-slider .carousel-indicators li.active {
    float: left;
    width: 25%;
    height: auto;
    margin: 0;
    text-indent: initial;
    border-radius: 0;
    background: none;
    text-align: left;
    border: none;
}
#mogo-slider .carousel-indicators li .inner {
    border-top: 2px solid #f7eac4;
    position: relative;
    color: #faf3e0;
    text-transform: uppercase;
    margin: 0 12px;
    padding: 10px 0;
}
#mogo-slider .carousel-indicators li:hover .inner,
#mogo-slider .carousel-indicators li.active .inner {
    border-color: #fff;
    color: #fff;
}
#mogo-slider .carousel-indicators li:hover .inner:after,
#mogo-slider .carousel-indicators li.active .inner:after {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 60px;
    height: 2px;
    background: #f38181;
}
#mogo-slider .carousel-indicators li .number {
    font-weight: 700;
    font-size: 18px;
    margin-right: 3px;
}

/*==============slider content===================*/

#mogo-slider .mogo-slider-title{
    font-size: 110px;
    color: #fff;
}
#mogo-slider .mogo-slider-title .mogo-slider-sub {
    font-size: 55px;
}
.mogo-slider-title .mogo-slider-sub {
    display: block;
    text-transform: none;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin-bottom: 5px;
}
.mogo-slider-title{
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
}
.mogo-slider-sub {
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}
.mogo-slider-title .mogo-slider-sub:after{
    background: #fff;
}
.mogo-slider-title:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #fff;
    transform: translateX(-50%);
}

.slider-btn{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid #fff;
    font-size: 12px;
    line-height: 100%;
}


.about-h {
	color: rgba(102,7,8,0.9);
	
}




/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: rgba(22, 26, 29, 0.9)
  
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}

#footer .h6{
    color:#ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}




.row-striped {
    padding: 15px 0;
}

.announce-title {
	border-bottom: 1px rgba(22, 26, 29, 0.9) solid;
}



.login-body {
	
	background: rgb(102,7,8);
	background: linear-gradient(0deg, rgba(102,7,8,1) 0%, rgba(229,56,59,1) 100%);
}

.login-block{
float:left;
width:100%;
padding : auto 0;
margin: 10% 0;


}




.login-block .container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}







/* people cards */
.single-team .inner {
    text-align: center;
	margin-bottom: 35px;
	border: 1px solid #e5eaf0;
	padding: 5px 5px 0px;
}

.single-team .inner .team-img {
	position: relative;
}

.single-team .inner .team-img img {
	width: 100%;
}

.single-team .inner .team-img::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
}

.single-team .inner .team-img:hover::after {
	opacity: 0.4;
}

.single-team .inner .team-content {
	padding: 22px 0px 0px;
}

.single-team .inner .team-content h4 {
	font-size: 18px;
	font-weight: 400;
}

.single-team .inner .team-content h5 {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.5px;
	color: #7d91aa;
}

.single-team .inner .team-content a {
	display: inline-block;
	padding: 2px;
	margin: 0 3px;
	font-size: 16px;
}

.team-social {
	background: #f3f6fa;
	width: 50%;
	padding-top: 4px;
	margin: auto;
	border-radius: 15px 15px 0px 0px;
	margin-top: 17px;
}


/* #people cards */






