@using university_system_asp.Models.Classes
@model List<ResearchArea>
@{
    ViewBag.Title = "Research Areas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">

    <h2 class="about-h">@ViewBag.Title</h2>

    <ul>
        @foreach (var x in Model)
        {
        <li>@x.Area</li>
        }
        

    </ul>


</div>

